{% extends 'base.html'%}
{% load static %}
{% load el_pagination_tags %}

{% block title %}{{ user }}'s Artists{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="btn btn-group btn-group-sm recent-menu">
            <a href="{% url 'home' username %}" class="btn btn-secondary btn-recent" role="button">
                <span class="count_top"><i class="fa fa-clock"> Recent</i></span>
            </a>
            <a href="{% url 'home_artists' username %}" class="btn btn-secondary btn-recent" role="button">
                <span class="count_top"><i class="fa fa-user"> Artists</i></span>
            </a>
            <a href="{% url 'home_songs' username %}" class="btn btn-secondary btn-recent" role="button">
                <span class="count_top"><i class="fa fa-music"> Tracks</i></span>
            </a>
            <a href="{% url 'home_albums' username %}" class="btn btn-secondary btn-recent" role="button">
                <span class="count_top"><i class="fa fa-compact-disc"> Albums</i></span>
            </a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>Лучшие за все время<small></small></h2>
            <hr />
            <table class="table table-striped table-responsive w-auto">
            <thead class="thead-light">
            </thead>
            <tbody class="recent-tbody">
            {% paginate home_artists.0 as home_artists1 %}
      {% for artist in home_artists1 %}
      <tr>
      <td>{{ forloop.counter }}</td>
      <td>
          <img src="{{ MEDIA_URL }}{{ artist.artist_photo }}" width="128">
      </td>
      <td>
          <a href="{% url 'music_albums' artist.name %}">{{ artist.name }}</a>
      </td>
      <td>
          {{ artist.count }}
      </td>
      </tr>
      {% endfor %}
        </tbody>
  </table>
    {% show_pages %}
    </div>
 <div class="col-lg-6 col-md-6 col-sm-12">

  <h2>Лучшие за 7 дней <small></small></h2>
    <hr />
  <table class="table table-striped table-responsive w-auto">
    <thead class="thead-light">
      <tr>
      </tr>
    </thead>
    <tbody>
        {% for best_sevendays_song in home_artists.1 %}
      <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <img src="{{ MEDIA_URL }}{{ best_sevendays_song.artist_photo }}" width="64">
            </td>
            <td>
                <a href="{% url 'music_albums' best_sevendays_song.name %}">
                    {{best_sevendays_song.name}}
                </a>
            </td>
            <td>{{best_sevendays_song.count}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
 </div>
</div>
</div>

{% endblock content %}